/* Add CSS Styling */
.odd-numbered {
    background-color: #f09999;
    font-family: Verdana, "Dejavu Sans", sans-serif;
}

#div1 {
    color: rgb(43, 43, 255);
    font-size: 36px;
}

.but-cooler {
    font-size: 24px;
}

#div2 {
    background-color: hsl(120, 100%, 75%);
    font-size: 24px;
    font-weight: bold;
}