/* Add CSS Styling */
.button1 {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.button2 {
    background-color: hsl(59, 100%, 50%);
}

button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}